In [ ]:
Урок 8. Python: от простого к практике. Продолжение
Доделать решение задачи предыдущего семинара:

Cчитывать данные из CSV
Доработать программу до информационной системы позволяющую работать с сотрудниками некой компании
считывать не только ФИ и номер, но еще должность, год рождения и статус в отпуске или нет
продумать дополнительный функционал

In [ ]:
#Считывание данных из txt в csv 
import csv

def get_list_employ(path_file):
    k=["Номер телефона","Фамилия","Имя","Год рождения","Должность","Статус отпуск/работает"]
    data1=[]
    with open(path_file, "r") as emp:
        for i in emp:
            i=i.rstrip('\n')
            purchase = i.split('\t')
            result = {}
            for j in range(6):
                result[k[j]] = purchase[j]
            data1.append(result)
        return data1 

result = get_list_employ("data_employ.txt")

print(result)

with open('data_employ.csv', "w" ) as f:
    writer = csv.DictWriter(
        f, fieldnames = list(result[0].keys()), quoting=csv.QUOTE_NONNUMERIC)
    writer.writeheader()
    for d in result:
        writer.writerow(d)

In [2]:
#Функция вывода данных по запросу
import pandas as pd

def Searcher2(a, view=False):

    result = []

    dt = pd.read_csv("data_employ.csv",sep=",")
    
    a = a.replace(" ", "").replace("\t","")
    
    #Вывод справочника
    if a == "" and view == True:
        display(dt)
        return
    

    if (a.isdigit() and len(a)>4):
        result = dt[dt["Номер телефона"] == int(a)]
    elif (a.isdigit() and len(a)==4):
        result = dt[dt["Год рождения"] == int(a)]
    else:
        result = dt[(str(dt["Номер телефона"]) + dt["Фамилия"] + dt["Имя"]+ str(dt["Год рождения"]) + dt["Должность"] + dt["Статус отпуск/работает"]).str.contains(str(a))]
    
    return result

In [3]:
#Функция добовления данных в csv
import pandas as pd

def Add_Data(mode="a"):
    
    file = "data_employ.csv"
    
    Tel = (input("Номер телефона: ")).strip().replace("+", "")
    Sur = (input("Фамилия: ")).strip().lower().capitalize()
    Name = (input("Имя: ")).strip().lower().capitalize()
    Year_of_birth = int((input("Год рождения: ")).strip())
    Qualification = (input("Должность: ")).strip().lower().capitalize()
    Status = (input("Статус отпуск/работает: ")).strip().lower()
    
    dt = pd.DataFrame([
        (Tel, Sur, Name, Year_of_birth, Qualification, Status)
        ], columns=[
        "Номер телефона", 
        "Фамилия", 
        "Имя", 
        "Год рождения", 
        "Должность", 
        "Статус отпуск/работает"
    ])
    
    
    if len(Searcher2(Sur + " " + Name)) > 0:
        print("\n\nДанные сотрудника уже существуют в справочнике")
        return
    else:
        dt.to_csv(file, mode=mode, index=False, header=False)
        print("\n\nДанные сотрудника добавлены")
        display(dt)
    
Add_Data()

Номер телефона: +79242587415
Фамилия: Телецкая
Имя: Агата
Год рождения: 1987
Должность: кассир
Статус отпуск/работает: работает


Данные сотрудника добавлены

,Номер телефона,Фамилия,Имя,Год рождения,Должность,Статус отпуск/работает
0,79242587415,Телецкая,Агата,1987,Кассир,работает

In [4]:
#Вывод данных по запросу
a = input("Введите значение: ")
result = Searcher2(a)
print("-"*50)
print("Найдено: ", len(result), "запись(-и, -ей)")
display(result)

Введите значение: Петров Иван
--------------------------------------------------
Найдено:  1 запись(-и, -ей)

,Номер телефона,Фамилия,Имя,Год рождения,Должность,Статус отпуск/работает
4,79045232325,Петров,Иван,1987,Начальник,уволен

In [5]:
#Вывод всего списка
Searcher2("", True)

,Номер телефона,Фамилия,Имя,Год рождения,Должность,Статус отпуск/работает
0,79042361514,Соловьев,Роман,1974,Генеральный директор,работает
1,79081223845,Перов,Анатолий,1986,Начальник,работает
2,79045623896,Борисова,Ирина,1978,Специалист,отпуск
3,79043691245,Норкина,Виктория,1984,Начальник,отпуск
4,79045232325,Петров,Иван,1987,Начальник,уволен
5,78912345656,Козлов,Олег,1967,Секретарь,уволен
6,79854561232,Иванов,Сергей,1989,Уборщик,уволен
7,79242587415,Телецкая,Агата,1987,Кассир,работает

In [7]:
#Функция изменения статуса сотрудника

import pandas as pd

def Set_Data(search, status = "работает"):
    
    search = search.strip().replace("+", "")
    
    file = "data_employ.csv"
    result = Searcher2(search)
    
    if len(result) == 0:
        print("Не смог найти сотрудника, измените параметры поиска")
        return
    
    if len(result) > 1:
        print("Не смог найти сотрудника, так как заданным условиям соотвествуют следующие результаты:")
        display(result)
        return
    
    
    dt = pd.read_csv(file, sep = ",")
    dt.loc[result.index, "Статус отпуск/работает"] = status
    
    dt.to_csv("data_employ.csv", mode="w", index=False, header=True)
    
    display(dt.loc[result.index])
    
    return "Данные о статусе сотрудника изменены"

In [8]:
#Изменение статуса сотрудника
Sur_Name =input("Введите Фамилию и имя/номер телефона:")
status1 = input("Введите статус:")

Set_Data(Sur_Name, status1)

Введите Фамилию и имя/номер телефона:Петров
Введите статус:работает

,Номер телефона,Фамилия,Имя,Год рождения,Должность,Статус отпуск/работает
4,79045232325,Петров,Иван,1987,Начальник,работает

'Данные о статусе сотрудника изменены'

In [9]:
#Функция удаления данных из файла csv

import pandas as pd

def Remove_Data(search):
    
    search = search.strip().replace("+", "")
    
    file = "data_employ.csv"
    result = Searcher2(search)
    
    if len(result) == 0:
        print("Не смог найти сотрудника, измените параметры поиска")
        return
    
    if len(result) > 1:
        print("Не смог найти сотрудника, так как заданным условиям соотвествуют следующие результаты:")
        display(result)
        return
    
    
    dt = pd.read_csv(file, sep = ",")
    
    display(dt.loc[result.index])
    #Спросить удалять / не удалять
    dt = dt.drop(labels=result.index, axis=0)
    dt.to_csv("data_employ.csv", mode="w", index=False, header=True)
    
    return "Данные о сотруднике удалены!"

In [10]:
#Удаления данных из файла csv
Sur_Name =input("Введите Фамилию и имя/номер телефона:")

Remove_Data(Sur_Name)

Введите Фамилию и имя/номер телефона:Петров

,Номер телефона,Фамилия,Имя,Год рождения,Должность,Статус отпуск/работает
4,79045232325,Петров,Иван,1987,Начальник,работает

'Данные о сотруднике удалены!'